/**
 * @name Silky
 * @author luaxx
 * @description Silky pretty much a remake of the ForgottenKeep theme. | https://github.com/Awish-Senpai/ForgottenKeep
 * @version 1.1.16
 * @source https://github.com/x4a5nf90skl0c48nycptii5jvurtmk/Silky-Discord-Theme
*/
 
.theme-dark {
    --activity-card-background: #181818 !important;
    --android-navigation-bar-background: var(--primary-830) !important;
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5) !important;
    --android-ripple: hsl(var(--white-500-hsl)/0.07) !important;
    --background-accent: #1d1d1d !important;
    --background-floating: #181818 !important;
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1) !important;
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08) !important;
    --background-message-automod: hsl(var(--red-400-hsl)/0.05) !important;
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1) !important;
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08) !important;
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06) !important;
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06) !important;
    --background-mobile-primary: #181818 !important;
    --background-mobile-secondary: #1d1d1d !important;
    --background-modifier-accent: #232323 !important;
    --background-modifier-active: #232323 !important;
    --background-modifier-hover: #232323 !important;
    --background-modifier-selected: #27272799 !important;
    --background-nested-floating: #1d1d1d !important;
    --background-primary: #181818 !important;
    --background-secondary: #1d1d1d !important;
    --background-secondary-alt: #272727 !important;
    --background-tertiary: #181818 !important;
    --background-text-area: #292929 !important;
    --black: var(--black-500) !important;
    --border-strong: hsl(var(--white-500-hsl)/0.16) !important;
    --border-subtle: hsl(var(--white-500-hsl)/0.08) !important;
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6) !important;
    --button-creator-revenue-background: var(--teal-430) !important;
    --button-danger-background: var(--red-430) !important;
    --button-danger-background-active: var(--red-530) !important;
    --button-danger-background-disabled: var(--red-430) !important;
    --button-danger-background-hover: var(--red-500) !important;
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0) !important;
    --button-outline-brand-background-active: var(--brand-560) !important;
    --button-outline-brand-background-hover: var(--brand-500) !important;
    --button-outline-brand-border: var(--brand-500) !important;
    --button-outline-brand-border-active: var(--brand-560) !important;
    --button-outline-brand-border-hover: var(--brand-500) !important;
    --button-outline-brand-text: var(--white-500) !important;
    --button-outline-brand-text-active: var(--white-500) !important;
    --button-outline-brand-text-hover: var(--white-500) !important;
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0) !important;
    --button-outline-danger-background-active: var(--red-460) !important;
    --button-outline-danger-background-hover: var(--red-430) !important;
    --button-outline-danger-border: var(--red-400) !important;
    --button-outline-danger-border-active: var(--red-430) !important;
    --button-outline-danger-border-hover: var(--red-430) !important;
    --button-outline-danger-text: var(--white-500) !important;
    --button-outline-danger-text-active: var(--white-500) !important;
    --button-outline-danger-text-hover: var(--white-500) !important;
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0) !important;
    --button-outline-positive-background-active: var(--green-530) !important;
    --button-outline-positive-background-hover: var(--green-430) !important;
    --button-outline-positive-border: var(--green-360) !important;
    --button-outline-positive-border-active: var(--green-530) !important;
    --button-outline-positive-border-hover: var(--green-430) !important;
    --button-outline-positive-text: var(--white-500) !important;
    --button-outline-positive-text-active: var(--white-500) !important;
    --button-outline-positive-text-hover: var(--white-500) !important;
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0) !important;
    --button-outline-primary-background-active: var(--primary-430) !important;
    --button-outline-primary-background-hover: var(--primary-500) !important;
    --button-outline-primary-border: var(--primary-500) !important;
    --button-outline-primary-border-active: var(--primary-430) !important;
    --button-outline-primary-border-hover: var(--primary-500) !important;
    --button-outline-primary-text: var(--white-500) !important;
    --button-outline-primary-text-active: var(--white-500) !important;
    --button-outline-primary-text-hover: var(--white-500) !important;
    --button-positive-background: var(--green-430) !important;
    --button-positive-background-active: var(--green-530) !important;
    --button-positive-background-disabled: var(--green-430) !important;
    --button-positive-background-hover: var(--green-500) !important;
    --button-secondary-background: var(--primary-500) !important;
    --button-secondary-background-active: var(--primary-400) !important;
    --button-secondary-background-disabled: var(--primary-500) !important;
    --button-secondary-background-hover: var(--primary-430) !important;
    --channel-icon: var(--primary-400) !important;
    --channel-text-area-placeholder: var(--primary-430) !important;
    --channels-default: var(--primary-360) !important;
    --channeltextarea-background: #292929 !important;
    --chat-background: #181818 !important;
    --chat-border: #181818 !important;
    --chat-input-container-background: #181818 !important;
    --control-brand-foreground: var(--brand-360) !important;
    --control-brand-foreground-new: var(--brand-360) !important;
    --creator-revenue-icon-gradient-end: var(--teal-430) !important;
    --creator-revenue-icon-gradient-start: var(--teal-360) !important;
    --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1) !important;
    --creator-revenue-info-box-border: var(--teal-400) !important;
    --creator-revenue-locked-channel-icon: var(--teal-345) !important;
    --creator-revenue-progress-bar: var(--teal-400) !important;
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6) !important;
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3) !important;
    --deprecated-quickswitcher-input-background: var(--primary-400) !important;
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3) !important;
    --deprecated-store-bg: #181818 !important;
    --deprecated-text-input-bg: #181818 !important;
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3) !important;
    --deprecated-text-input-border-disabled: #181818 !important;
    --deprecated-text-input-border-hover: var(--primary-900) !important;
    --deprecated-text-input-prefix: var(--primary-200) !important;
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5) !important;
    --divider-strong: hsl(var(--white-500-hsl)/0.16) !important;
    --divider-subtle: hsl(var(--white-500-hsl)/0.08) !important;
    --focus-primary: var(--blue-345) !important;
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8) !important;
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9) !important;
    --header-primary: var(--primary-130) !important;
    --header-secondary: var(--primary-330) !important;
    --home-background: var(--primary-645) !important;
    --home-card-resting-border: hsl(var(--transparent-hsl)/0) !important;
    --info-box-background: hsl(var(--blue-345-hsl)/0.1) !important;
    --info-danger-background: hsl(var(--red-400-hsl)/0.1) !important;
    --info-danger-foreground: var(--red-400) !important;
    --info-danger-text: var(--white-500) !important;
    --info-help-background: hsl(var(--blue-345-hsl)/0.1) !important;
    --info-help-foreground: var(--blue-345) !important;
    --info-help-text: var(--white-500) !important;
    --info-positive-background: hsl(var(--green-360-hsl)/0.1) !important;
    --info-positive-foreground: var(--green-360) !important;
    --info-positive-text: var(--white-500) !important;
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1) !important;
    --info-warning-foreground: var(--yellow-300) !important;
    --info-warning-text: var(--white-500) !important;
    --input-background: #181818 !important;
    --input-placeholder-text: var(--input-placeholder-text-dark) !important;
    --interactive-active: var(--white-500) !important;
    --interactive-hover: var(--primary-230) !important;
    --interactive-muted: var(--primary-500) !important;
    --interactive-normal: var(--primary-330) !important;
    --live-stage-tile-border: #272727 !important;
    --logo-primary: var(--white-500) !important;
    --mention-background: hsl(var(--brand-500-hsl)/0.3) !important;
    --mention-foreground: var(--brand-260) !important;
    --modal-background: #181818 !important;
    --modal-footer-background: #1d1d1d !important;
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48) !important;
    --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3) !important;
    --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6) !important;
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8) !important;
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16) !important;
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5) !important;
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2) !important;
    --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45) !important;
    --redesign-activity-card-background: #292929 !important;
    --redesign-activity-card-background-pressed: #1d1d1d !important;
    --redesign-activity-card-badge-icon: var(--primary-400) !important;
    --redesign-activity-card-border: hsl(var(--white-500-hsl)/0.02) !important;
    --redesign-button-danger-background: var(--red-430) !important;
    --redesign-button-danger-pressed-background: var(--red-460) !important;
    --redesign-button-danger-text: var(--white-500) !important;
    --redesign-button-overlay-alpha-background: hsl(var(--black-500-hsl)/0.54) !important;
    --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-500-hsl)/0.64) !important;
    --redesign-button-overlay-alpha-text: var(--white-500) !important;
    --redesign-button-overlay-background: var(--white-500) !important;
    --redesign-button-overlay-pressed-background: var(--primary-230) !important;
    --redesign-button-overlay-text: var(--primary-860) !important;
    --redesign-button-positive-background: var(--green-430) !important;
    --redesign-button-positive-pressed-background: var(--green-460) !important;
    --redesign-button-positive-text: var(--white-500) !important;
    --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl)/0) !important;
    --redesign-button-primary-alt-border: var(--brand-360) !important;
    --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl)/0) !important;
    --redesign-button-primary-alt-on-blurple-border: var(--white-500) !important;
    --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530) !important;
    --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360) !important;
    --redesign-button-primary-alt-on-blurple-text: var(--white-500) !important;
    --redesign-button-primary-alt-pressed-background: hsl(var(--brand-700-hsl)/0.16) !important;
    --redesign-button-primary-alt-pressed-border: hsl(var(--brand-400-hsl)/0.5) !important;
    --redesign-button-primary-alt-pressed-text: var(--brand-360) !important;
    --redesign-button-primary-alt-text: var(--brand-360) !important;
    --redesign-button-primary-background: var(--brand-500) !important;
    --redesign-button-primary-on-blurple-background: var(--white-500) !important;
    --redesign-button-primary-on-blurple-pressed-background: var(--brand-200) !important;
    --redesign-button-primary-on-blurple-pressed-text: var(--brand-530) !important;
    --redesign-button-primary-on-blurple-text: var(--brand-500) !important;
    --redesign-button-primary-pressed-background: var(--brand-560) !important;
    --redesign-button-primary-text: var(--white-500) !important;
    --redesign-button-secondary-alt-background: #1d1d1d !important;
    --redesign-button-secondary-alt-pressed-background: #292929 !important;
    --redesign-button-secondary-alt-text: var(--white-500) !important;
    --redesign-button-secondary-background: var(--primary-460) !important;
    --redesign-button-secondary-border: var(--primary-460) !important;
    --redesign-button-secondary-pressed-background: var(--primary-500) !important;
    --redesign-button-secondary-pressed-border: var(--primary-500) !important;
    --redesign-button-secondary-text: var(--white-500) !important;
    --redesign-input-control-selected: var(--brand-500) !important;
    --redesign-only-background-active: #1d1d1d !important;
    --redesign-only-background-default: #181818 !important;
    --redesign-only-background-overlay: #181818 !important;
    --redesign-only-background-raised: #1d1d1d !important;
    --redesign-only-background-sunken: var(--primary-800) !important;
    --scrollbar-auto-scrollbar-color-thumb: #272727 !important;
    --scrollbar-auto-scrollbar-color-track: #1d1d1d !important;
    --scrollbar-auto-thumb: #272727 !important;
    --scrollbar-auto-track: #1d1d1d !important;
    --scrollbar-thin-thumb: #272727 !important;
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0) !important;
    --spoiler-hidden-background: #181818 !important;
    --spoiler-revealed-background: #292929 !important;
    --status-danger: var(--red-400) !important;
    --status-danger-background: var(--red-400) !important;
    --status-danger-text: var(--white-500) !important;
    --status-dnd: var(--red-400) !important;
    --status-idle: var(--yellow-300) !important;
    --status-offline: var(--primary-360) !important;
    --status-online: var(--green-360) !important;
    --status-positive: var(--green-360) !important;
    --status-positive-background: var(--green-430) !important;
    --status-positive-text: var(--white-500) !important;
    --status-warning: var(--yellow-300) !important;
    --status-warning-background: var(--yellow-300) !important;
    --status-warning-text: var(--black-500) !important;
    --text-brand: var(--brand-360) !important;
    --text-danger: var(--red-345) !important;
    --text-link: var(--blue-345) !important;
    --text-link-low-saturation: var(--blue-330) !important;
    --text-muted: var(--primary-360) !important;
    --text-normal: var(--primary-230) !important;
    --text-positive: var(--green-330) !important;
    --text-warning: var(--yellow-300) !important;
    --textbox-markdown-syntax: var(--primary-360) !important;
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5) !important;
    --white: var(--white-500) !important;
    --profile-body-background-color: #181818 !important;
    --primary-600: #181818 !important;
}

.layers-OrUESM>.layer-86YKbF:first-child {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.layers-OrUESM>.layer-86YKbF:nth-child(2),.perksModal-fSYqOq {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

.contentRegionScroller-2_GT_N,.contentRegion-3HkfJJ,.standardSidebarView-E9Pc3j,
.sidebarRegionScroller-FXiQOh {
    background: transparent !important;
}

.scroller-nxCRu_ {
    background-color: var(--background-secondary) !important;
}

.theme-dark .directoryContainer-z-0pgp {
    background-color: var(--background-secondary) !important;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--background-secondary-alt) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--background-secondary-alt) !important;
}

.circleIconButton-1VxDrg {
    color: #FFFFFF !important;
}

.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-primary) !important;
}

.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: var(--background-secondary-alt) !important;
}

.categoryHeader-OpJ1Ly{
    background-color: var(--background-secondary) !important;
}

.theme-dark .autocomplete-3NRXG8{
    background-color: var(--background-secondary) !important;
}

.footer-IubaaS{
    background-color: var(--background-secondary) !important;
}

.root-2x5M19{
    background-color: var(--background-secondary) !important;
}

.theme-dark .invite-3uuHYQ{
    background: transparent !important;
}

.scroller-3_YDR2{
    background: transparent !important;
}
